#dispositivoscontainer
  - if flash[:notif]
    %h4#notif.alert_info= flash[:notif]
  - if flash[:notice]
    %h4#notinfo.alert_success= flash[:notice]
  - if flash[:error]
    %h4#noterror.alert_error= flash[:error]
  %h3 Dispositivos registrados
  %table#devicestable.display{"data-source" => devices_url(format: "json")}
    %thead
      %tr
        %th Clave
        %th Tipo
        %th No. Serie
        %th Propietario
        %th Última actividad
        %th Opciones
    %tbody
    